---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Header, Nav, and Link variables
$link-color: #8a3514;
$header-color: #063969;
$hover-color: #cd4c39;

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     20px;

$text-color:       #111;
$background-color: #fdfdfd;
$background-image: url("{{ site.github.url }}/web/public/images/bg.png");
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 10%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "blueprint/ie",
        "blueprint/screen",
        "base",
        "layout",
        "syntax",
        "syntax-highlighting",
        "highlight"
;
