# Make all the C# source be crlf
QuickFIXn/* text eol=crlf
UnitTests/* text eol=crlf
Examples/* text eol=crlf
generator/*rb text eol=crlf
*.cs text eol=crlf
*.bat text eol=crlf
*.csproj text eol=crlf

