QuickFIX.NET.suo
QuickFIX.NET/bin/*
QuickFIX.NET/obj/*
UnitTests/bin/*
UnitTests/obj/*
PerformanceTests/bin/*
PerformanceTests/obj/*
*.user
UnitTests/TestResult.xml
Example_TradeClient/bin/
Example_TradeClient/obj/
Examples/Executor/bin/
Examples/Executor/obj/
QuickFIX.NET.sln.cache
ChangeLog
*.swp
