QuickFIXn.suo
QuickFIXn/bin/*
QuickFIXn/obj/*
UnitTests/bin/*
UnitTests/obj/*
PerformanceTests/bin/*
PerformanceTests/obj/*
*.user
UnitTests/TestResult.xml
QuickFIXn.sln.cache
ChangeLog
*.swp
AcceptanceTest/AcceptanceTests*.html
AcceptanceTest/AcceptanceTests*.xml
AcceptanceTest/TestResult.xml
AcceptanceTest/bin/Debug/*
AcceptanceTest/bin/Release/*
AcceptanceTest/log/
AcceptanceTest/store/
Examples/Executor/bin/*
Examples/Executor/obj/*
Examples/Executor/log/
Examples/TradeClient/bin/*
Examples/TradeClient/obj/*
Examples/SimpleAcceptor/bin/*
Examples/SimpleAcceptor/obj/*
.DS_Store
upload_to_s3.rb
*~
*.suo
