public QuickFix.Fields.{{ name }} {{ name }}
{ 
    get 
    {
        QuickFix.Fields.{{ name }} val = new QuickFix.Fields.{{ name }}();
        GetField(val);
        return val;
    }
    set { SetField(value); }
}

public void Set(QuickFix.Fields.{{ name }} val) 
{ 
    this.{{ name }} = val;
}

public QuickFix.Fields.{{ name }} Get(QuickFix.Fields.{{ name }} val) 
{ 
    GetField(val);
    return val;
}

public bool IsSet(QuickFix.Fields.{{ name }} val) 
{ 
    return IsSet{{ name }}();
}

public bool IsSet{{ name }}() 
{ 
    return IsSetField(Tags.{{ name }});
}
