[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=../../spec/fix/FIX44.xml
SocketConnectHost=127.0.0.1
SocketConnectPort=5001
SSLEnable=Y

# It is recommended to install the certificate and refer to it by name instead of using filename + password
SSLCertificate=QuickFixn-TestClient.pfx
SSLCertificatePassword=QuickFixn-TestClient
# For production refer to certificate by name instead: SSLCertificate=CN=QuickFixn-TestClient
SSLServerName=QuickFixn-TestServer
SSLCACertificate=QuickFixn-TestCA.cer

LogoutTimeout=5
ResetOnLogon=Y

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.4
SenderCompID=CLIENT1
TargetCompID=EXECUTOR
HeartBtInt=30 

