[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=../../../../spec/fix/FIX44.xml
HttpAcceptPort=9911
SocketConnectHost=127.0.0.1
SocketConnectPort=5001

LogoutTimeout=5
ResetOnLogon=Y

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.4
SenderCompID=CLIENT1
TargetCompID=EXECUTOR
HeartBtInt=30 
