<div id='sponsord-by'>
  <h1>About</h1>
  <p>
  <b>QuickFIX/N implements the FIX protocol on .NET.</b> QuickFIX/N is 100% free and open source with a liberal license.
  </p>
  <h2>Commercial Backing</h2>
  <p>
    Work on QuickFIX/N is sponosed by Connamara Systems.
  </p>
  <p>
    <a href='http://connamara.com'><%= img 'Connamara-Logo.png' %></a>
  </p>
  <p>
    Connamara offers commercial support packages, custom trading application development, and general technology consulting.
  </p>
  <h2>Comparisons to QuickFIX</h2>
  <p>
    QuickFIX/N is a .NET port of <a href='http://quickfixengine.org'>QuickFIX</a>, an open source C++ FIX engine.<br/>
  </p>
  <p>
    The goal of QuickFIX/N is to create an open source FIX engine that feels native to C#.
    While the (C++) QuickFIX project contains a C# wrapper which has been used successfully in .NET for many years,
    its wrapped C++ library causes iteractions that are not idiomatic to .NET development.
  </p>
  <p>
    For Java development, please visit the excellent <a href='http://quickfixj'>QuickFIX/J</a>.
  </p>
  <p>
    QuickFIX/N uses the QuickFIX name with the full backing and support of QuickFIX and its creator Oren Miller.
  </p>
</div>


