<div id='footer'>
  <p id='footer-links'>
    <a href='/'>Home</a>
    <a href='/tutorial'>Documentation</a>
    <a href='/help'>Support</a>
    <a href='/help'>Mailing List</a>
    <a href='/help'>Contact Us</a>
    <a href='/about'>About</a>
  </p>
</div>
