<div id='footer'>
  <p id='footer-links'>
    <a href='/'>Home</a>
    <a href='/tutorial'>Documentation</a>
    <a href='/help'>Issues</a>
    <a href='/help'>Support</a>
    <a href='/help'>Mailing List</a>
    <a href='/about/contact'>Contact Us</a>
    <a href='/about/contribute'>Contribute</a>
    <a href='/about/about-us'>About</a>
  </p>
</div>
