Download
========

The latest version of QuickFIX/n is {{latest_version}}

You can download it [here] (http://quickfixn.s3.amazonaws.com/quickfixn-{{latest_version}}.zip)

Source Code
-----------
View the code on [github] [0]

Previous Versions
-----------------
{{#previous_versions}}
  * [{{.}}] (http://quickfixn.s3.amazonaws.com/quickfixn-{{.}}.zip)
{{/previous_versions}}

[View all previous versions in github][1]

[0]: https://github.com/connamara/quickfixn
[1]: https://github.com/connamara/quickfixn/tags